Flask
gunicorn
requests
psycopg2
sqlalchemy
flask-wtf
wtforms
flask-login
flask-migrate
flask-bootstrap
flask-ckeditor
email-validator

python-dotenv
flask-sqlalchemy
flask-mysqldb
flask-bcrypt
flask-session


